<!DOCTYPE html>
<html>
  <head>
    <title>Statki</title>
    <meta name='viewport' content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/react_hot_assets' %>
    <div class='container'>
      <div class='top'>
        <span class='fa fa-ship'></span> seaBattle
      </div>
      <%= yield %>
    </div>
  </body>
</html>
